<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <title>
            {% block title %}
            Dionisio - Products Recommendation System
            {% endblock title %}
     </title>
     <!-- Framework CSS -->
     <link rel="stylesheet" href="{% url static "css/blueprint/screen.css" %}" type="text/css" media="screen, projection">
     <link rel="stylesheet" href="{% url static "css/blueprint/print.css" %}" type="text/css" media="print">
     <!--[if lt IE 8]>
        <link rel="stylesheet" href="{% url static "css/blueprint/ie.css" %}" type="text/css" media="screen, projection">
     <![endif]-->
	
	<!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="{% url static "css/blueprint/plugins/fancy-type/screen.css" %}" type="text/css" media="screen, projection">
    <script type="text/javascript" src="{% url static "js/jquery-1.3.2.min.js" %}"></script>
    <script type="text/javascript">
     var $j = jQuery.noConflict();
   </script>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        <div class="container">
        {% block content %}
        {% endblock content %}
        </div>
    </body>
</html>
