{% extends "base.html" %}
{% load rabidratings_extras %}
{% block extrahead %}
<script type="text/javascript" src="{% url static "js/mootools-1.2.js" %}"></script>
<script type="text/javascript" src="{% url static "js/dionisio.js" %}"></script>
<link rel="stylesheet" href="{% url static "css/dionisio.css" %}" type="text/css">
{% rating_header %} 
<script type="text/javascript">
    $j(document).ready(function() {
        dionisio.init({static_url: "{% url static "" %}"});
        dionisio.show_user_recommendations($j('#recommendations_user_similarity'), "{% url ajax_recommendation_list "user_similarity" %}");
        dionisio.show_user_recommendations($j('#recommendations_item_similarity'), "{% url ajax_recommendation_list "item_similarity" %}");
        dionisio.show_similar_users($j('#similar_users'), "{% url ajax_similar_users_list %}");        
        dionisio.show_best_rated($j('#best_rated'), "{% url ajax_best_rated_list %}", "{% url ajax_rate_product %}");
        // Too much load for current browsers, let's disable it for now
        //$j('#show_all_best_rated').click(function(event) {
        //    dionisio.show_best_rated($j('#best_rated'), "{% url ajax_best_rated_list 0 %}", "{% url ajax_rate_product %}");
        //});
    });
</script>
{% endblock extrahead %}
{% block content %}
<div class="span-24">
    <p>Hello {{request.user.username}}. <a href="{% url logout %}">logout</a></p>
</div>
<div class="span-24">
    <h1>Your recommendations</h1>    
</div>

<div class="span-11 colborder">
    <h2>Based on user similarity</h2>
    <div id="recommendations_user_similarity">
        <div class="ajax_content">Loading...</div>
        <div class="ajax_loader ajax_loading">&nbsp;</div>
    </div>
</div>
<div class="span-12 last">
    <h2>Based on item similarity</h2>
    <div id="recommendations_item_similarity">
        <div class="ajax_content">Loading...</div>
        <div class="ajax_loader ajax_loading">&nbsp;</div>
    </div>
</div>
<hr/>
<div class="span-13 colborder">
    <h1>Best Rated Movies</h1>
    <div id="best_rated">
        <div class="ajax_content">Loading...</div>
        <div class="ajax_loader ajax_loading">&nbsp;</div>        
    </div>
</div>
<div class="span-10 last">
    <h1>Similar users</h1>
    <div id="similar_users">
        <div class="ajax_content">Loading...</div>
        <div class="ajax_loader ajax_loading">&nbsp;</div>
    </div>
</div>

{% endblock content %}

