monografia/capitulos/*.aux
monografia/*.aux
monografia/principal.bbl
monografia/principal.blg
monografia/principal.fdb_latexmk
monografia/principal.log
monografia/principal.pdf
monografia/principal.toc