monografia/capitulos/*.aux
monografia/*.aux
monografia/principal.bbl
monografia/principal.blg
monografia/*.fdb_latexmk
monografia/*.log
monografia/*.lof
monografia/*.lot
monografia/*.log
monografia/principal.pdf
monografia/principal.toc