body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: #0000FF; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; 
  overflow: hidden;
}

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }  


			.profile {
			clear: both;
			margin: 0.5em 0;
			border: 2px solid #5B8261;
			}
			.profile .picture {
			float:left;
			margin: 1em 1em 1em 0.5em;
			}
			.profile h3 {
			border-bottom: 0px solid #5b8261;
			color: #5B8261;
			padding: 0px 0px;
			}
			.profile h2.title {
			margin-top: 15px;
			border-bottom: 0px solid #5b8261;
			}
			.profile dt {
			margin: 0;
			padding: 2px 3px;
			width: 120px;
			background-color: #000000;
			border-bottom: 0px solid white;
			float:left;
			}
			.profile dd {
			margin: 0 0 0 130px;
			padding: 2px 3px;
			border-bottom: 0px dotted #5b8261;
			background-color: #000000;
			color: #ffffff;} 
			
			.lst {
			-x-system-font:none;
			font-family:arial,sans-serif;
			font-size:17px;
			font-size-adjust:none;
			font-stretch:normal;
			font-style:normal;
			font-variant:normal;
			font-weight:normal;
			line-height:normal;
			margin-bottom:0.2em;
			vertical-align:bottom;
			}
