- title "Avaliações"

%table
  %tr
    %th Produto
    %th Nota
  - for rating in @ratings
    %tr
      %td= link_to h(rating.product.name), rating.product
      %td
        %ul.star-rating{:id => "star-rating-for-product-#{rating.product.id}"}
          %li.current-rating{ :style => "width:#{rating.stars*20}%"}= "#{rating.stars} estrelas"

