- title "Avalie os 20 produtos abaixo"
#productList        
  - for product in products
    = render :partial => 'products/product', :locals => {:product => product, :show_stars => true, :truncate_description => true }
