- title "Listagem de produtos"
#productList        
  - for product in products
    = render :partial => "products/product", :locals => {:product => product, :show_stars => true, :truncate_description => true}
    
