<ul>
  <li>Olá, <%= current_user.name %>! Esta é a <b>quinta etapa</b> do nosso experimento de 6 etapas.</li>
  <li>Abaixo estão listados produtos recomendados a você.</li>
  <li>Não esqueça de informar se você conhece ou não o produto</li>
</ul>