<ul>
    <li>Olá, <%= current_user.name %>! Esta é a <b>segunda etapa</b> do nosso experimento de 6 etapas. Abaixo está disponível uma busca de produtos cadastrados no sistema.</li>
    <li><strong>Você deverá procurar 10 produtos ao seu gosto e avaliá-los na mesma forma da etapa 1</strong>, ou seja, de acordo com o seu nível de interesse neles.</li>
    <li>Busque os produtos por nome e opcionalmente também por categoria</li>
    <li><strong>Após avaliar todos os 10 produtos ao seu gosto, a etapa 3 será carregada automaticamente.</strong> Para sua facilidade, um contador de quantos produtos já foram avaliados encontra-se no topo dessa página.</li>
</ul>
