<ul>
  <li>Olá, <%= current_user.name %>! Esta é a <b>quarta etapa</b> do nosso experimento de 6 etapas.</li>
  <li> Abaixo estão listadas algumas pessoas cadastradas no sistema que não fazem parte do seu grupo.</li>
  <li><b>Você deverá recomendar um produto a cada um deles.</b></li>
  <li>Uma boa recomendação consiste em recomendar produtos que as pessoas tenham muito interesse e que não sejam óbvios a eles. </li>
  <li>Para realizar a recomendação a uma pessoa, escolha uma delas abaixo.</li>
</ul>    