<ul>
    <li>Olá, <%= current_user.name %>! Esta é a <b>primeira etapa</b> do nosso experimento de 6 etapas. Abaixo estão listados 20 produtos que você deverá avaliar de acordo com o seu interesse neles. Ressaltamos que este interesse não é apenas um interesse de compra do produto, mas se você acha o produto interessante ou não.</li>
    <li>
    Não ignore as mensagens de popup.
    </li>
    <li>Após avaliar todos os 20 produtos, a etapa 2 será carregada automaticamente. Para sua facilidade, um contador de quantos produtos já foram avaliados encontra-se no topo dessa página.</li>
</ul>
