body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: #0000FF; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: #0000FF; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

#user_nav {
  float: right;
  font-size: 12px; 
}

#user_profile h1 {
font-family:Tahoma,Verdana,Arial,Sans-Serif;
font-size:24px;
font-weight:400;
line-height:28px;
padding:7px 0 5px 12px;
}
       
.hproduct{  
	margin:10px 10px 10px 10px;
	height: 150px; width: 700px;  
}               

.hproduct .photo { 
	float:left;
	margin:0px 0px 15px 20px; 
}    

* html dd {height:1%} 

.recommender{
	color:red;
} 

.recommendation{
	padding-bottom: 15px;
}

.recommendations{
	width:660px;
	margin:10px auto;
}
.recommendations dl{
	width:760px;
	margin:0 auto;
	border-bottom:1px dashed #ccc;
	padding:10px;
	overflow:hidden;
	background:#f2f2f2;
}
.recommendations dd{overflow:auto} 
.recommendations dt strong{
	float:right;
	padding:0 0 0 20px;
}
.recommendations dt img{
	float:left;
	margin:0 10px 0 0;
	border:1px solid #000;
}