<%= render :partial => 'product_search', :locals => {:search => @search}%>

<p>
  Odernar por:
  <%= order @search, :by => :name %> |
  <%= order @search, :by => :price %>
</p>  
<div id="name">
  
<div id="productList">
<%= render @products %>   
</div>  
</div>
