<h2>Friends that recommended this product to you:</h2>
<ul id="user_recommendations">
  <% user_recommendations = @product.user_recommendations.for(current_user)
     user_recommendations.each do |user_recommendation|%>
  <li class="username"><%=h user_recommendation.recommender %></li>
  <% end -%>
</ul>                 
